import Verify "mo:passport-client-dfinity/lib/Verifier";

module {
    // Don't verify users for sybil. It's useful for a test installation running locally.
    public let skipSybil = true | false;

    public let configScorer: Verify.Config = {
        scorerId = <NUMBER>; // get it at https://scorer.gitcoin.co/
        scorerAPIKey = "<KEY>"; // get it at https://scorer.gitcoin.co/
        scorerUrl = "https://api.scorer.gitcoin.co";
    };
    minimumScore = 20.0;
}