body {
    font-family: sans-serif;
}

a.active{color:red;}

input[type=text], input[type=url], textarea {
    width: 100%;
}

Button.thumbs, Button.thumbs:hover {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

Button.thumbs.active {
    background: green;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    pointer-events: all;
    justify-content: center;
    align-items: center;
    display: none;
}

#overlayInside {
    color: white;
    font-size: 28px;
    font-family: Arial, sans-serif;
}

#content {
    position: relative;
    z-index: 1;
}
